#chat {
    overflow:auto;
    height:500px;
    width: 624px;
    margin: 0 auto;
}
#contentWrap {
	width: 624px;
	margin: 0 auto;
    display: none;
}
#chatWrap {
	width: 624px;
    float: bottom;
    border: 2px #000 solid;
}
#inputWarp {
    margin-left: 20px;
}

#inputWarp {
	width: 300px;
	margin: 0 auto;
	padding-left: 20px;
}

#send-message {
	width: 700px;
	margin: 0 auto;
}

#setNick {
	width: 500px;
}

#nickName {
	width: 450px;
	margin: 0 auto;
}